<!--The content below is only a placeholder and can be replaced.-->

<h1>
  Welcome to {{ title }}!
</h1>

<hr>

<div class="stringInterpolation">
  {{title}} <br>
  {{'title'}} <br>
  {{1+1}} <br>
  <!-- {{1+}} <br> Error since 1+ is an incomplete expression -->
  {{1/0}} <br>
  {{'1+1'}} <br>
  {{title+title}} <br>
</div>

<!-- Use as a selector -->
<!-- <app-server></app-server> -->

<!-- Use as attribute -->
<!-- <h1 app-server>
    Welcome to {{ title }}!
  </h1> -->

<!-- Use as a class -->
<!-- <h1 class="app-server">
    Welcome to {{ title }}!
  </h1> -->


<div class="timedButton">
  <button [disabled]="buttonDisabled" class="btn btn-primary">Timed Disable button</button>
  Button Disabled : {{buttonDisabled}}
</div>

<div class="eventBindingClass">
  <button (click)="executeOperation()" class="btn btn-primary">Test Event Binding</button>
  {{eventString}}
<br><br>

  <input type="text" (input)="testEvent($event)" placeholder='Check Logs on Typing'>
  {{inputEventString}}
</div>

<div class="twoWayBinding">
  <input type="text"  [(ngModel)]="twoWay">
  {{twoWay}}
</div>

<div class="structureDirective">
  <button (click)="toggle()">Toggle Ng If</button>
  <div *ngIf="isVisible;else elsePart">Show if Part</div>
  <ng-template #elsePart>Show Else Part</ng-template>
</div>


<div class="attributeDirective">
  <button (click)="toggleAttribute()">Toggle Style and Color</button>
  <p [ngStyle]="{backgroundColor: getColor()}">See Changing Color</p>
  <!-- <p [ngClass]="{attributeDirectiveOne: attributeToggle}">Hi</p> -->
  <p [ngClass]="{attributeDirectiveOne: attributeToggle, attributeDirectiveTwo: !attributeToggle}">Hi</p>

</div>

<div class="forDirective">
  <button (click)="addItem()">Add Item</button>
  <p *ngFor="let item of itemArray" [ngStyle]="{backgroundColor: getColor()}">See Changing Color</p>
</div>


<app-server></app-server>
<app-two-way-example></app-two-way-example>
<app-directive-example></app-directive-example>